<%= render "header" %>

<div class="d-flex justify-content-center">
    <div class="bg-light w-50 d-block">
        <div style="box-shadow: 0px 7px 5px -1px #eee" class="md-5 p-3">
            <div class="d-flex justify-content-between">
                <h1 class="d-inline"><%= @article.title %></h1>
                <div class="d-inline float-lg-left">
                    <% if policy(@article).update? %>
                    <a class="btn btn-outline-primary" href="<%= edit_article_path(@article) %>" role=" button">Edit</a>
                    <% end %>
                    <% if policy(@article).destroy? %>
                    <%= link_to "Destroy", article_path(@article), class: "btn btn-outline-danger",
                                method: :delete,
                                data: { confirm: "Are you sure?" } %>
                    <% end %>
                </div>
            </div>
            <h5><%= @article.body %></h5>
            <% if @article.image.attached? %>
            <%= image_tag @article.image, class: "card-img-top" %>
            <% end %>
            <div class="d-flex justify-content-end">
                By <%= @article.author.username %>
            </div>
        </div>
        <div>
            <% if current_user %>
            <div style="box-shadow: 0px 7px 5px -1px #eee" class="md-5 p-3">
                <%= render 'comments/form' %>
            </div>
            <% end %>
            <div style="box-shadow: 0px 7px 5px -1px #eee" class="md-5 p-3">
                <h3>Comments</h3>
                <%= render @article.comments %>
            </div>
        </div>
    </div>
</div>