<!DOCTYPE html>
<html>

<head>
    <title>PiKr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <br /><br /><br />
    <div class="d-flex justify-content-center">
        <% if !!alert %>
        <div class="alert alert-danger w-50" role="alert">
            <%= alert %>
        </div>
        <% end %>
        <% if !!notice %>
        <div class="alert alert-info w-50" role="alert">
            <%= notice %>
        </div>
        <% end %>
    </div>
    <%= yield %>
</body>

</html>